<!-- 53 and pu this file in collection, login, register   -->
{% for msg in messages %}
 <div class="alert alert-info alert-dismissable fade show" role="alert">
    {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>

{% endfor %}

<script>
   document.addEventListener("DOMContentLoaded", function(){
      const alerts = document.querySelectorAll('.alert');
      alerts.forEach(function(alert) {
         setTimeout(function() {
            new bootstrap.Alert(alert).close();
         }, 2000)
      });
   });
</script>
