{% extends 'shop/layouts/main.html' %}


{% block title %}
    shopkart | Online Shoppiing
{% endblock title %}

{% block content %}
    <section class="bg-light py-4 my-5 ">
        <div class="container inkl">
            <div class="row">
                <div class="col-12">
                    <h4 class="mb-3">{{catagory}} Products</h4>
                    <hr style="border-color: #b8bfc2 ;">
                </div> 

                <!-- 42 -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'collections' %}">Catagories</a></li>
                    </ol>
                </nav>
                <!-- 54 -->
                {% include 'shop/inc/message.html' %}

                <!-- 36 -->
                {% for item in products %}
                <div class="col-md-4 col-lg-3">
                    <div class="card my-3" >
                        <!-- to show image get image url from item -->
                        <img src="{{ item.product_image.url }}" class="card-img-top" alt="Catagories" style="height: 180px;">
                        <!-- 38 -->
                        <a href="{% url 'product_details' catagory.name item.name %}">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{item.name}}</h5>
                            <!-- 36 -->
                            <p class="card-text">
                                <span class="float-start mt-1 old_price"><s>Rs.{{item.original_price}}</s></span>
                                <span class="float-end mb-2 new_price">Rs.{{item.selling_price}}</span>
                            </p>
                        
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>
    
{% endblock content %}
