<!-- 41 -->
{% extends 'shop/layouts/main.html' %}


{% block title %}
    shopkart | Online Shoppiing
{% endblock title %}

{% block content %}
    <section class="bg-light py-4 my-5" style="min-height: 600px;">
        <div class="container inkl">
            <div class="row">
                <div class="col-12">
                    <h4 class="mb-3">{{product}} Details</h4>
                    <hr style="border-color: #b8bfc2 ;">
                </div> 

                <!-- 42 -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'collections' %}">Catagories</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'product_collections' product.catagory %}">{{product.catagory}}</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{product}}</li>
                    </ol>
                </nav>
                

                <!-- 41 -->
                 <div class="col-4 my-3 pic-box">
                    {% if product.trending%}
                     <div class="hot">Hot</div>
                    {% endif %}
                    <img src="{{ product.product_image.url }}" class="card-img-top" alt="{{product}}">
                 </div>
                 
                 <div class="col-8 my-3">
                    <h5 class="text-success">{{product | upper}}</h5>
                    <p>{{product.vendor}}</p>
                    <p>{{product.desciption}}</p>
                    <h6 class="my-2 text-danger">Current Price : Rs.<s>{{product.original_price}}</s></h6>
                    <h5 class="my-2 text-success">Offer Price : Rs.{{product.selling_price}}</h5>
                    
                    <!-- 43 -->
                    <div class="my-3">
                        {% if product.quantity > 0 %}
                        <!-- 63 to post we need prod.id, add to cart, csrf token  -->
                         <input type="hidden" value="{{product.id}}" id="product_id">
                         {% csrf_token %}


                        <!-- 62 for js code below -->
                            <p>
                                <div class="input-group" style="width: 150px;">
                                    <button class="input-group-text bg-success text-light" id="btnMinus"><i class="fa fa-minus"></i></button>
                                    <input type="text" name="qty" id="txtQty"  class="form-control text-center" value="1">
                                    <button class="input-group-text bg-success text-light" id="btnPlus"><i class="fa fa-plus"></i></button>
                                </div>
                            </p>

                            <button class="btn btn-primary" id="btnCart"><i class="fa fa-shopping-cart">Add to Cart</i></button>
                        {% else %}
                            <button class="btn btn-secondary" disabled><i class="fa fa-cart">Out of Stock</i></button>
                        {% endif %}
                        <!-- 78 -->
                        <button class="btn btn-danger" id="btnFav"><i class="fa fa-heart"></i></button>
                    </div>
                 </div>
            </div>
        </div>
    </section>

    <!-- 62  script for change quantity-->
     <script>
        document.addEventListener("DOMContentLoaded", function(event){
            const btnPlus = document.getElementById("btnPlus");
            const btnMinus = document.getElementById("btnMinus");
            const extQty = document.getElementById("txtQty");

            // 79
            const btnFav = document.getElementById("btnFav");


            // 64 we need prodid, the middle ware toke , 
            const pid= document.getElementById("product_id")
            const csrf = document.querySelector('[name="csrfmiddlewaretoken"]').value
            // then for button'
            const btnCart = document.getElementById("btnCart");
            btnCart.addEventListener("click", function() {
                let qty=parseInt(txtQty.value);
                qty=isNaN(qty)?0:qty;

                if (qty>0){
                    let postObj = {
                        'product_qty': qty,
                        'pid':pid.value,
                        // token:csrf
                    }
                    console.log(postObj)
                    // now we have to send this by agex method to server and store in db 
                    // sor create  a url 
                    // we can pass data by http request in post
                    // we can use fetch api with which ur to send
                    fetch("/addtocart", {
                        method:"POST",
                        credentials: 'same-origin',
                        //para as json object 
                        headers:{
                            'Accept': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': csrf, // pass token here 
                        },
                        // now convert this to json obj and put in body
                        body: JSON.stringify(postObj)
                        //now  use then funct to return this json response
                    }).then(response => {
                        return response.json();
                        //now print any messaged comes from server in console 
                    }).then(data => {
                        alert(data['status']);
                    });
                }
                else{
                    alert("Please Enter The Quantity");
                }
            });
            

            // 80
            btnFav.addEventListener("click", function() {
                let postObj = { 
                    'pid': pid.value
                }
                console.log(postObj);
                fetch("/favourite",{
                method: 'POST',
                credentials: 'same-origin',
                headers:{
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify(postObj)
                }).then(response => {
                    return response.json();
                }).then(data => {
                    //console.log(data);
                alert(data['status']);
                });
            
            });
        


            btnPlus.addEventListener("click", function() {
                let qty=parseInt(txtQty.value);
                qty=isNaN(qty)?0:qty;
                if (qty<100) {
                    qty++;
                    txtQty.value=qty;
                }
            });
            btnMinus.addEventListener("click", function() {
                let qty=parseInt(txtQty.value);
                qty=isNaN(qty)?0:qty;
                if(qty>1) {
                    qty--;
                    txtQty.value=qty;
                }
            })

        })
     </script>



    
{% endblock content %}
