<!-- 70 -->

{% extends 'shop/layouts/main.html' %}
{% block title %}
  Cart | ShopKart
{% endblock title %}
{% block content %}
  <section class="bg-light py-4 my-5" style="min-height:600px;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="mb-3">Cart  Items</h4>
          <hr style="border-color:#b8bfc2;">
        </div>
      

        <table class="table table-secondary table-hover ">

            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Remove</th>
            </tr>
            {% for item in cart %}
           <tr>
                <!-- item has foreign key as product model so get product image -->
              <td><img src="{{item.product.product_image.url}}" height="75px" alt="{{item.product.name}}"></td>
              <td>{{item.product.name}}</td>
               <!-- aslo re,ove extra zero  -->
              <td>{{item.product.selling_price | stringformat:'d'}}</td>
              <td>{{item.prouctd_qty}}</td>

              <!-- 72 got total value from property function -->
              <td class="amt">{{item.total_cost | stringformat:'d'}}</td>
              <td><a href="{% url 'remove_cart' item.id %}"  onclick="return confirm('Are you sure? to Remove')"  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Remove</a></td>
            </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td></td>
              <!-- colspan to take two column size  and bold-->
              <td colspan="2"><b>Total Amount</b></td>
              <th id="net">0</th>
              <td><button class="btn btn-primary btn-sm">
                <i class="fa fa-check-circle"></i> Check Out
              </button></td>
            </tr>
        </table>
       
      </div>
      </div>
  </section>

  <script>
    // going to sum by array function 
    const nodes = document.querySelectorAll('.amt');
    const arr = Array.from(nodes);
    const res = arr.reduce((acc, curr) => {
     return acc += Number(curr.textContent)
    }, 0);
    document.getElementById("net").innerHTML="Rs : "+res;

  </script>
{% endblock content %}