{% extends 'shop/layouts/main.html' %}


{% block title %}
    shopkart | Online Shoppiing
{% endblock title %}

{% block content %}
    <!-- 19 -->
    {% include 'shop/inc/slider.html' %}
    
    <!-- this dev to put content below navbar otherwise content wil hide behind navbar -->
    <div class="container" style= "margin-top: 70px">
        <div class="row">
            <div class="col-12">
                <h1>AK</h1>
            </div>
        </div>
    </div>
    
{% endblock content %}
